.card(style='width: 100rem;')
                .card-body
                    .dropdown.float-right
                        a.dropdown-trigger.btn(href='#', data-target='dropdown1') Category
                        ul#dropdown1.dropdown-content
                            li
                                a(onclick='addqa()') Q & A
                            li.divider(tabindex='-1')
                            li
                                a(onclick='addmc()') Multiple choice
                            li
                                a(onclick='addcb()') Checkboxes
                            li.divider(tabindex='-1')
                            li
                                a(onclick='date()') Date
                            li.divider(tabindex='-1')
                        span.float-right(onclick='deleteq()',style='cursor: pointer;margin:10px')
                            |X