extends layout

block 
    .col-lg-12.col-md-12.col-sm-12.col-xs-12(style='height: 900px')
      .hovereffect.justify-content-center.align-items-center
        img.img-responsive.rounded.mx-auto.d-block(src='/images/smoothfanlob.png', alt='')
        .overlay
          h2 Welcome
          