extends layout

block page
    
    script.  
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.parallax');
            var instances = M.Parallax.init(elems);
        });
    
    
    #newssection.slogan-section.margin-bottom.parallax-container.valign-wrapper
        .container
            center
                img(src='/images/uugai-1.png',style="width:300px")
        .parallax
            img(src='/images/water.jpg', alt='Unsplashed background img 2')
    .section.grey.lighten-3
        .row.container
            .col.s12.m10.offset-m1
                h1.blue-text.text-darken-4.header News
                p.grey-text.text-darken-3.lighten-3
                    |v1.0 : 2019/09/30 member system and forum system update.

   
    section#intro.slogan-section.margin-bottom.parallax-container.valign-wrapper
        .container
            .overlay
                h1.center-align.slogan-description Introduction
        .parallax
            img(src='/images/water.jpg', alt='Unsplashed background img 2')
                
    .section.grey.lighten-3
        .row.container
            .col.s12.m10.offset-m1
                h1.blue-text.text-darken-4.header Introduction 
                p.grey-text.text-darken-3.lighten-3 
                    |This is a platform for providing customized forms services, whether you want to host an event to ask for your willingness to participate, or if you want to send an afternoon tea with your colleagues, or collect sample data for a homework assignment, we provides an easy way to get the information you want more easily.Hope you enjoy it!
        .container
            .row 
                .col-md-3
                    center
                        h3.blue-text.text-darken-3 Step 1
                        img(src='/images/1.png',style='width:90%')
                .col-md-3
                    center
                        h3.blue-text.text-darken-3 Step 2
                        img(src='/images/2.png',style='width:90%')
                .col-md-3
                    center
                        h3.blue-text.text-darken-3 Step 3
                        img(src='/images/3.png',style='width:90%')
                .col-md-3
                    center
                        h3.blue-text.text-darken-3 Step 4
                        img(src='/images/4.png',style='width:90%')
    section.slogan-section.margin-bottom.parallax-container.valign-wrapper
        .container
            .overlay
                h1.center-align.slogan-description Forum
        .parallax
            img(src='/images/water.jpg', alt='Unsplashed background img 2')
    .section.grey.lighten-3
        .row.container
            .col.s12.m10.offset-m1
                h1.blue-text.text-darken-4.header Forum
        .container
            .row
                each i in form
                    .col-md-4
                        .card.blue-grey.darken-1(onclick='location.href='+"'/message/"+i.router+"/detail'")
                            .card-content.white-text
                                .row
                                    span.card-title=i.title
                                br
                                .row
                                    p=i.description

    


